<h2>Contact Details</h2>

<hr />
<%= @contact.first_name %>
<%= @contact.last_name %>
<%= @contact.phone_no %>
<%= @contact.email %>
<hr />
<!--- this is an example of how to force link to call for remote resource with 
particular HTTP method (DELETE here) --> 
<%= link_to "Delete this guy", delete_contact_path, method: :delete %>
